:root {
    /*CORES DAS FONTES*/
    --branco: #ffffff;
    --reaction: hsl(0, 100%, 67%);
    --memory: hsl(39, 100%, 56%);
    --verbal: hsl(166, 100%, 37%);
    --visual: hsl(234, 85%, 45%);

    /*GRADIENTES*/
    --bgcard-roxo: hsl(252, 100%, 67%);
    --bgcard-azul: hsl(241, 81%, 54%);
    --bgcircle-violeta: hsla(256, 72%, 46%, 1);
    --bgcircke-azul: hsla(241, 72%, 46%, 0);

    --bgreaction: hsla(0, 100%, 67%, 10%);
    --bgmemory: hsla(39, 100%, 56%, 10%);
    --bgverbal: hsla(166, 100%, 37%, 10%);
    --bgvisual: hsla(234, 85%, 45%, 10%);
}

html {
    height: 100%;
    min-height: 100%;
    font-family: 'Hanken Grotesk';
    font-size: 18px;
    font-weight: 500;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 100px 200px;
    gap: 3rem;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 750px;
    height: 550px;
    gap: 3rem;
    border: none;
    border-radius: 30px;
    box-shadow: 10px 10px 10px #f0f0f0;
}

footer {
    text-align: center;
}
